
  <h1>Search the fundraiser you want to know!</h1>
  <nav><a routerLink="/home"><span>Home</span></a> | <a routerLink="/search"><span>Search</span></a></nav>
  <div class="search" >
    <label for="organizer">Organizer</label>
    <input [(ngModel)]="organizer" type="text" id="organizer" name="organizer">

    <label for="city">City</label>
    <input [(ngModel)]="city" type="text" id="city" name="city" >

    <label for="category">Category</label>
    <select [(ngModel)]="category" id="category" name="category" >
      <option value="">Select a category</option>
      <ng-container *ngIf="categories.length>0">
      <option *ngFor="let item of categories">
        {{item.NAME}}
      </option>
      </ng-container>
    </select>

    <input type="checkbox" id="active" name="active" [(ngModel)]="isActive">
    <label for="active">Is Active?</label>

    <input type="button" value="Search" (click)="getSpecificFundraiser()">
  </div>
  <div id="data" >
    <ng-container *ngIf="specificFundraisers.length>0">
      <div  *ngFor="let item of specificFundraisers;let i = index" class="fundraiser-card">
        <div id="info">
          <p>ID: {{item.fundraiserID}}</p>
          <p>Organizer: {{item.organizer}}</p>
          <p>Caption: {{item.caption}}</p>
          <p>City: {{item.city}}</p>
          <a [routerLink]="['/fundraiser']" [queryParams]="{info: item.fundraiserID}">View Details</a>
<!--          Here to make sure the router can bring the params dynamically-->
        </div>
        <img src="assets/images/{{imgNum[i%imgNum.length]}}.jpg">
      </div>
    </ng-container>
    <ng-container>
      <div class="fundraiser-card" *ngIf="specificFundraisers.length==0 && isWarning">
        <h3 style="font-weight: bold; color:red">No matching fundraisers!</h3>
      </div>
    </ng-container>
  </div>
  <div class="search">
      <input type="button" value="Clear" (click)="clearScreen()">
  </div>
