
  <h1>Search the fundraiser you want to know!</h1>
  <nav><a routerLink="/home"><span>Home</span></a> | <a routerLink="/search"><span>Search</span></a></nav>
  <div class="search">
    <label for="organizer">Organizer</label>
    <input type="text" id="organizer" name="organizer">

    <label for="city">City</label>
    <input type="text" id="city" name="city" >

    <label for="category">Category</label>
    <select id="category" name="category" >
    <option value="">Select a category</option>
    </select>
    <input type="button" value="Search">
  </div>
  <div id="data"></div>
  <div class="search">
      <input type="button" value="Clear">
  </div>
