
<h1>Welcome the crowdfunding home!</h1>
<h2>One person donates, and everyone benefits</h2>
<p>Your donation not only helped one person, but also brought positive impact to the entire society.</p>
<nav><a routerLink="/home"><span>Home</span></a> | <a routerLink="/search"><span>Search</span></a></nav>
<div id="data">
  <div *ngIf="fundraiser.length>0">
    <div  *ngFor="let item of fundraiser;let i = index" class="fundraiser-card">
      <div id="info">
      <p>ID: {{item.fundraiserID}}</p>
      <p>Organizer: {{item.organizer}}</p>
      <p>Caption: {{item.caption}}</p>
      <p>City: {{item.city}}</p>
        <a [routerLink]="['/fundraiser']" [queryParams]="{info: item.fundraiserID}">View Details</a>
<!--        Here to make sure the router can bring the params dynamically-->
      </div>
      <img src="assets/images/{{imgNum[(i+1)%imgNum.length]}}.jpg">
    </div>
  </div>
</div>

<div>
  <h2>Contacts</h2>
  <p>email: kunye.student&#64;scu.edu.au</p>
  <p>phone number: 123456677</p>
</div>

