<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fundme</title>
  <link rel="stylesheet" type="text/css" href="Clientside.css">
</head>
<body>
<h1>Welcome the crowdfunding home!</h1>
<h2>One person donates, and everyone benefits</h2>
<p>Your donation not only helped one person, but also brought positive impact to the entire society.</p>
<nav><a href="/index.html"><span>Home</span></a> | <a href="/search.html"><span>Search</span></a></nav>
<div id="data"></div>

<div>
  <h2>Contacts</h2>
  <p>email: kunye.student@scu.edu.au</p>
  <p>phone number: 123456677</p>
</div>

</body>
</html>
