
.contacts {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: #2980b9;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.contacts p {
  margin: 10px 0;
  color: #fff;
  text-align: left;
}



