<h1>Fundraiser Edit Format</h1>
<nav><a routerLink="/adminhome"><span>List</span></a> | <a routerLink="/create"><span>Create</span></a></nav>
<form #editForm="ngForm" (ngSubmit)="onSave(editForm)">
  <div class="form-group">
    <label for="organizer">Organizer:</label>
    <input type="text" id="organizer" name="ORGANIZER" ngModel required maxlength="30" placeholder="Enter your name or company name">
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <select id="category" name="CATEGORY_ID" ngModel required>
      <option value="">Select a category</option>
      <ng-container *ngIf="categories.length > 0">
        <option *ngFor="let item of categories" [value]="item.CATEGORY_ID">{{item.NAME}}</option>
      </ng-container>
    </select>
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" id="city" name="CITY" ngModel required placeholder="Enter fundraise city of activities" maxlength="20">
  </div>
  <div class="form-group">
    <label for="target fund">Target funding amount:</label>
    <input type="number" id="target fund" name="TARGET_FUNDING" ngModel required placeholder="Enter your target fund money">
  </div>
  <div class="form-group">
    <label for="current fund">Current funding amount:</label>
    <input type="number" id="current fund" name="CURRENT_FUNDING" ngModel required placeholder="Enter current fund money you already get">
  </div>
  <div class="form-group checkbox-group">
    <input type="checkbox" id="active" name="ACTIVE" ngModel [(ngModel)]="isActive">
    <label for="active">Is Active?</label>
  </div>
  <div class="form-group">
    <label for="caption">Caption:</label>
    <input type="text" id="caption" name="CAPTION" ngModel required placeholder="Enter your short description here" maxlength="20">
  </div>
  <button type="submit" [disabled]="!editForm.form.valid">Save</button>
</form>

