<h1>Welcome to donate page!</h1>
<h2>One person donates, and everyone benefits</h2>
<p>Your donation not only helped one person, but also brought positive impact to the entire society.</p>
<nav><a routerLink="/home"><span>Home</span></a> | <a routerLink="/search"><span>Search</span></a></nav>
<form #donationForm="ngForm" (ngSubmit)="onSubmit(donationForm)">
  <label for="fundraiser_id">Fundraiser_ID</label>
  <input type="number" id="fundraiser_id" name="FUNDRAISER_ID" [(ngModel)]="fundraiserID" ngModel required readonly>

  <label for="giver">Giver:</label>
  <input type="text" id="giver" name="GIVER" ngModel required>

  <label for="date">Date:</label>
  <input type="date" id="date" name="DATE" ngModel required>

  <label for="amount">Amount:</label>
  <input type="number" id="amount" name="AMOUNT" ngModel required>

  <button type="submit" [disabled]="!donationForm.form.valid">Submit</button>
</form>


