
<h1>Detail information</h1>

<nav><a routerLink="/home"><span>Home</span></a> | <a routerLink="/search"><span>Search</span></a></nav>
<div [id]="dataID">
  <div  *ngFor="let item of fundraiser;let i = index" class="fundraiser-card">
    <div id="info">
      <p>ID: {{item.fundraiserID}}</p>
      <p>Organizer: {{item.organizer}}</p>
      <p>Caption: {{item.caption}}</p>
      <p>City: {{item.city}}</p>
      <p>Target Fund: {{item.target_funding}}</p>
      <p>Current Fund: {{item.current_funding}}</p>
      <p>Active: {{isActive}}</p>
      <p>Category: {{item.categoryName}}</p>
    </div>
    <img src="assets/images/{{imgNum[i%imgNum.length]}}.jpg">
</div>
  <h1>Donation list</h1>
  <ng-container>
      <div *ngFor="let item of donation" class="fundraiser-card">
        <p>ID: {{item.DONATION_ID}}</p>
        <p>Giver: {{item.GIVER}}</p>
        <p>Donate date: {{item.DATE.toISOString().split('T')[0]}}</p>
        <p>Amount: {{item.AMOUNT}}</p>
      </div>
  </ng-container>
<div id="donate">
  <input type="button" value="Add donation" [routerLink]="['/donate']" [queryParams]="{info:fundraiser[0].fundraiserID}">
</div>

</div>
